/* MONTAUK FONTS */
@font-face{
    font-family:Montauk-Bold;
    src: url('/Fonts/Montauk-Bold.otf');
}
@font-face{
    font-family:Montauk-Italic;
    src: url('/Fonts/Montauk-Italic.otf');
}
@font-face{
    font-family:Montauk-Light;
    src: url('/Fonts/Montauk-Light.otf');
}
@font-face{
    font-family:Montauk-Regular;
    src: url('/Fonts/Montauk-Regular.otf');
}
.Montauk-Bold{
    font-family: Montauk-Bold;
}
.Montauk-Italic{
    font-family: Montauk-Italic;
    
}
.Montauk-Light{
    font-family: Montauk-Light;
}
.Montauk-Regular{
    font-family: Montauk-Regular;
}
/* --------------END OF MONTAUK FONTS--------- */


/* -----------NAVBAR BEGINNING------------ */
.navbarBackground{
    background-image: url('/Assets/bgtexture.jpg');
}
nav img{
    width:50%;
    max-width:350px;
    height: auto;
}
.navText a{
    font-family: Montauk-Regular;
    font-size:250%;
    color:#5F002B;
    text-decoration: none;
    padding-inline: 20px;
    font-weight: bold;
    font-style: italic;
}