/* MONTAUK FONTS */
@font-face{
    font-family:Montauk-Bold;
    src: url('/Fonts/Montauk-Bold.otf');
}
@font-face{
    font-family:Montauk-Italic;
    src: url('/Fonts/Montauk-Italic.otf');
}
@font-face{
    font-family:Montauk-Light;
    src: url('/Fonts/Montauk-Light.otf');
}
@font-face{
    font-family:Montauk-Regular;
    src: url('/Fonts/Montauk-Regular.otf');
}
@font-face {
    font-family: fugaz-one;
    src: url(../Fonts/FugazOne-Regular.ttf);
}
.Montauk-Bold{
    font-family: Montauk-Bold;
}
.Montauk-Italic{
    font-family: Montauk-Italic;
    
}
.Montauk-Light{
    font-family: Montauk-Light;
}
.Montauk-Regular{
    font-family: Montauk-Regular;
}
/* --------------END OF MONTAUK FONTS--------- */


/* -----------NAVBAR BEGINNING------------ */
/* NAVBAR FORMATTING */
.navbarBackground{
    margin-top:-8px;
    background-image:url('/Assets/bgtexture.jpg');
    padding-top:10px;
    padding-bottom: 25px;
    padding-left:150px;
    
    
}

.navPosition{
    padding-bottom: 0;
}

/* NAVBAR TEXT */
  .nav li {
    display: inline-block;
    font-size: 25px;
    padding-right: 50px;
    font-family: Montauk-Bold;
    color: #5F002B;
    font-style: italic;
  }
  /* Adjusting Link Color */
  a{
    color: #5F002B;
    text-decoration: none;
  }
  /* Moving Navtext to the right of the Navbar */
  .navRight{
    display:flex;
    justify-content: flex-end;
    padding-right:100px;
  }

/* NAVBAR IMAGE */
.nav img{
    width: 250px;
    height:92px;
}
/* --------------END OF NAVBAR------------*/

/* ---PATIO IMAGE FORMAT------------- */
.patioFormat{ 
width: 100%;
object-fit:fill;
margin:0;
padding: 0;
}  
 /*----------END OF PATIO IMAGE FORMAT---------  */

 /* -------Muzzles Sandwiches and Grill----------------- */
 .woodBackground{
    padding-top: 80px;
    background-image: url(/Assets/bgtexture.jpg);
 }
 .whiteBackground{
    display:inline-block;
    background-color: white;
    width:800px;
 }
 .black{
    background-color:black;
 }
.singleImg{
    margin-left:50px;
    margin-right:20px;
    float:left;
    width:550px;
    height:350px;
}
.muzzTitle{
    margin-left:30px;
    font-size: 55px;
    font-family: Montauk-Bold;
    color: #5F002B;
    font-style: Bold;
}
.muzzText{
    margin-top: -30px;
    margin-left:30px;
    font-size: 17px;
    font-family: Montauk-Regular;
    color: #5F002B;
    padding-bottom:20px;
}
.homeImg{
    margin-top: 13px;
    width:800px;
    height:120px;
}
/* ------END OF MUZZLES SANDWICHES AND GRILL----------- */

/*----------------------FOOTER----------------------*/
footer div.woodBackground{  
    padding-top: 50px;
    padding-bottom: 10px;
}
.footerContent{
    top: 20px;
}
footer .logoCR{
    padding-right: 50px;
    float: right;
    text-align: right;
}
footer .address{
    padding-left: 50px;
    float:left;
}
footer div img{
    width: 130px;
}
footer div p{
    font-size: 20px;
    font-family: Montauk-Light;
    color: #5F002B;
}
/* ----------------------END OF FOOTER---------------- */

/* ABOUT PAGE */
.navFont {
    font-family: fugaz-one;
}

.aboutTitle {
    color: #5F002B; 
    font-size: 50px;
    font-family: fugaz-one;
}
.aboutText {
    color: #5F002B;  
    font-family: montauk-light;
    font-size: 20px;
    line-height: 19px;
}

.abPadding {
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 35px;
}
.ABwhiteBG {
    background-color: white;
}
.teamTitle {
    color: #5F002B;
    font-size: 30px;
    font-family: fugaz-one;
}
.cardPicTop {
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ; 
}
.card-margin {
    margin-bottom: 100px;
}
.cardtitle {
    font-family: fugaz-one;
    color: #5F002B;  
    font-size: 30px;
    
}
.teamText {
    color: #5F002B;
    font-family: montauk-light;
    font-size: 20px;
    line-height: 19px;

}
.bgImg {
    background-image: url(/Assets/bgtexture.jpg);
}
.footer-right{
    text-align: end;
}